@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script&family=Lato:wght@300;400&family=Raleway:wght@300;400&display=swap");

/* font-family: "Bad Script", cursive;
font-family: "Dancing Script", cursive;
font-family: "Lato", sans-serif;
font-family: "Raleway", sans-serif; */

:root {
  --primary-font: "lato", san-seriff;
  --primary-color: #eabcde;
  --primary: #0d3344eb;
  --primary-dark: #052634eb;
  --secondary: #49a0eb;
  --secondary-focus: #285780e0;
  --off-white: #fcfcfc;
  --web-color: #00b0ff;
}

body {
  font-family: --var(--primary-font);
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER SECTION */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--primary);
  color: #fff;
  padding: 1rem;
}

/* NAVIGATION MENU */
.brand-name {
  font-size: 1.3rem;
  font-weight: lighter;
  font-family: "Bad Script", cursive;
  text-shadow: 2px 2px 1px #999;
}

.nav-bar .list-group {
  list-style-type: none;
  text-align: right;
  padding: 0.8rem;
  margin: 0.6rem;
}

.nav-bar .list-group .list-item {
  display: inline-block;
}

.nav-bar .link {
  color: var(--off-white);
  text-decoration: none;
  font-weight: 100px;
  margin: 2px 4px;
  transition: color 0.8s;
}

.nav-bar .link:hover {
  color: var(--secondary-focus);
}

.active-link {
  /* font-size: medium; */
  border-bottom: 1px solid var(--off-white);
}

/* HUMBERGER ICON */
.humburger {
  display: none;
}

.humburger-link {
  color: #fefefe;
}

/* SOCIAL LINKS INSIDE HAMBURGER ICON MOBILE SCREEN SIZES */
.social-medias {
  display: none;
}

/* MAIN SECTION */
.container {
  max-width: 900;
  margin: 3px auto;
  max-height: auto;
  background-color: var(--secondary-focus);
  padding: 1rem;
  color: var(--off-white);
  border-radius: 0.5rem;
}

.off-white-section {
  max-width: 900;
  padding: 1rem;
  margin: 3px auto;
  max-height: auto;
  color: var(--primary-dark);
  border-radius: 0.5rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px -1px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.container-section {
  text-align: center;
  margin: 30px 10px;
}

.container-section:hover {
  border: 2px solid var(--primary);
}

.container-blog {
  background-color: gray;
  text-align: center;
  font-size: 1rem;
  color: var(--off-white);
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.4rem;
}

.social {
  background-color: var(--primary-dark);
  padding: 20px;
}

.b
/* FOOTER */

.footer .list-group {
  list-style-type: none;
  text-align: right;
  padding: 0.6rem;
  margin: 0.4rem;
}

.footer .link {
  color: var(--off-white);
  text-decoration: none;
  font-weight: 100px;
  margin: 2px;
}

.footer .list-group .list-item {
  display: inline;
}

.social {
  text-align: center;
}

.social .link {
  padding: 3px;
}
.social .link:hover {
  color: var(--secondary-focus);
  text-decoration: underline;
}

.btn {
  width: 150px;
  height: 30px;
  border-radius: 1.25rem;
  background-color: var(--primary-dark);
  font-size: 18px;
  color: var(--off-white);
  margin: 10px auto;
}

.btn:hover {
  cursor: pointer;
}

.section-header {
  color: var(--primary-dark);
  padding: 6px 4px;
  font-size: 1.8rem;
}

/*  Image Profile */

.my-image {
  width: 180px;
  height: auto;
  border-radius: 50%;
  margin: 10px auto;
}

/* Developer Tools // Technologies */

.technologies-list {
  margin: auto;
}

.technology {
  list-style-type: none;
}

.social .list-group .list-item .fa {
  padding: 10px;
  font-size: 1.5rem;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.social .list-group .list-item .fa-twitter {
  color: #00acee;
  background-color: white;
  border-radius: 10px;
}
.social .list-group .list-item .fa-twitter:hover {
  color: white;
  background-color: #00acee;
}

.social .list-group .list-item .fa-linkedin {
  color: white;
  background-color: #0e76a8;
  border-radius: 10px;
}
.social .list-group .list-item .fa-linkedin:hover {
  color: #0e76a8;
  background-color: white;
}

.social .list-group .list-item .fa-github {
  color: black;
  background-color: white;
  border-radius: 10px;
}
.social .list-group .list-item .fa-github:hover {
  color: white;
  background-color: black;
}

.social .list-group .list-item .fa:hover {
  opacity: 0.9;
}

.divider {
  width: 20vh;
  height: 3px;
  border-radius: 100px;
  margin: 3px auto;
  margin-bottom: 10px;
  background-color: var(--primary);
}

.name {
  font-size: 1.25rem;
  color: var(--primary-dark);
  margin: 0 4px;
}

.btn-section .btn-link {
  text-decoration: none;
}

.btn-web {
  color: var(--primary-dark);
  background-color: var(--off-white);
  margin-top: 1px;
  display: block;
  text-decoration: none;
}

.divider-header {
  background-color: var(--secondary);
  height: 4px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.project-header {
  margin: 15px 10px 5px 10px;
  text-align: center;
}

.time-stamp {
  color: var(--primary-dark);
  display: inline-block;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 2px;
  margin-bottom: 5px;
}
.mission-header {
  color: var(--primary-dark);
  margin: 4px 2px;
  margin-top: 1px;
  padding: 8px;
  font-size: 1.2rem;
}

.copyright {
  font-size: smaller;
  margin-top: 16px;
  margin-bottom: 3px;
}

/* MEDIA SCREEN ( MOBILE DEVICE ) */

/* Hide humburger menu */

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .brand-name {
    font-size: 1.5rem;
  }
  .humburger {
    display: block;
    position: relative;
    right: 2px;
  }

  .humburger-link {
    font-size: 1.5rem;
  }

  .humburger-link:hover {
    color: #fefefe;
  }

  .nav-bar {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fefefe;
    width: 100%;
    transition: 0.8s;
    height: 0; /* hide the height */
    overflow: hidden; /* overflow to not display content and their action otherwise the hamberger menu is activated */
  }
  .nav-bar.active {
    height: 100vh;
  }
  .nav-bar .list-group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .nav-bar .list-group .list-item {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .social-medias {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .social-medias .fa {
    padding: 10px;
    font-size: 1.5rem;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }

  .social-medias .fa-twitter {
    color: #00acee;
    background-color: white;
    border-radius: 10px;
  }
  .social-medias .fa-twitter:hover {
    color: white;
    background-color: #00acee;
  }

  .social-medias .fa-linkedin {
    color: white;
    background-color: #0e76a8;
    border-radius: 10px;
  }
  .social-medias .fa-linkedin:hover {
    color: #0e76a8;
    background-color: white;
  }

  .social-medias .fa-github {
    color: black;
    background-color: white;
    border-radius: 10px;
  }
  .social-medias .fa-github:hover {
    color: white;
    background-color: black;
  }

  .social-medias .fa:hover {
    opacity: 0.9;
  }
  .social-medias > .fa {
    margin: 20px;
    font-size: 1.5rem;
  }
}
