@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script&family=Lato:wght@300;400&family=Raleway:wght@300;400&display=swap");

/* font-family: "Bad Script", cursive;
font-family: "Dancing Script", cursive;
font-family: "Lato", sans-serif;
font-family: "Raleway", sans-serif; */

:root {
  --primary-font: "lato", san-seriff;
  --primary-color: #eabcde;
  --primary: #0d3344eb;
  --primary-dark: #052634eb;
  --secondary: #49a0eb;
  --secondary-focus: rgba(40, 87, 128, 1);
  --off-white: #fcfcfc;
  --web-color: #00b0ff;
  --bg-colored-container-dark-mode: #303a40;
  --bg-off-white-dark-mode: #2b3439;
  --text-dark-color: #2b3439;
  --dark-mode-text-color: #e9e9e9;
  --text-white-color: #e9e9e9;
  --dark-mode: #384146;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 17px;
  color: var(--text-white-color) !important;
  width: 100vw;
  overflow-x: hidden;
}

body::after {
  content: "";
  height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER SECTION */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--secondary-focus);
  color: var(--text-white-color);
  padding: 0 15px;
  position: sticky !important;
  top: 0;
  z-index: 100;
}

/* NAVIGATION MENU */
.brand-name {
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Bad Script", cursive;
  text-shadow: 2px 2px 1px #999;
  margin-top: -9px;
}


/* navbar when scrolled */
.navbar-scroll {
  background-color: var(--dark-mode);
}

.nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
}

.nav-bar .list-group {
  list-style-type: none;
  text-align: right;
  padding: 0.2rem  0.8rem;
  margin: 0 0.6rem;
}

.nav-bar .list-group .list-item {
  display: inline-block;
  margin: 8px 5px 0;
  padding: 0 3px;
}

.nav-bar .link {
  color: var(--off-white);
  text-decoration: none;
  font-weight: lighter;
  margin: 0px 8px;
  font-size: 1.8rem;
}

.nav-bar .list-group .link::after{
  content: " ";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 2px;
  margin: 3px 6px;
  background-color: var(--off-white);
  transition: 0.6s ease width;
}

.nav-bar .link:hover::after{
  width: 100%;
}


.active-link {
  color: #888 !important;
  font-weight: larger;
}

/* HUMBERGER ICON */
.humburger {
  display: none;
}

.humburger-link {
  color: #fefefe;
}

.theme {
  margin-top: -38px;
}

/* SOCIAL LINKS INSIDE HAMBURGER ICON MOBILE SCREEN SIZES */
.social-medias {
  display: none;
}

/* MAIN SECTION */
.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1.8rem 0.8rem;
  padding-bottom: 5rem;
}

.container {
  background-color: var(--secondary-focus);
  color: var(--off-white);
}

.off-white-section,
.contact-off-whitesection {
  color: var(--text-dark-color);
}


.container-blog {
  background-color: gray;
  text-align: center;
  font-size: 1rem;
  color: var(--text-white-color);
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.4rem;
}

#hero-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 3rem;
}


/* FOOTER */
.social {
  background-color: var(--secondary-focus);
  padding: 20px;
}

.footer {
  color: var(--text-white-color);
}

.footer .list-group {
  list-style-type: none;
  text-align: center;
  padding: 0.6rem;
  margin: 0.4rem;
}

.footer .link {
  color: var(--off-white);
  text-decoration: none;
  font-weight: 100;
  margin: 2px;
}

.footer .list-group .list-item {
  display: inline-block;
}

.social {
  text-align: center;
}

.social .link {
  padding: 3px;
} 


.social .list-group .list-item .fa {
  padding: 8px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
}


.social .list-group .list-item .fa-twitter {
  color: #fff;
  background-color: #00acee;
}

.social .list-group .list-item .fa-twitter:hover {
  color: #00acee;
  background-color: #fff;
}


 
.social .list-group .list-item .fa-linkedin {
  color: white;
  background-color: #0e76a8;
}

.social .list-group .list-item .fa-linkedin:hover {
  color: #0e76a8;
  background-color: white;
}

.social .list-group .list-item .fa-github {
  color: black;
  background-color: white;
}

.social .list-group .list-item .fa-github:hover {
  color: white;
  background-color: black;
}

.social .list-group .list-item .fa-whatsapp {
  color: white;
  background-color: #25d366;
}

.social .list-group .list-item .fa-whatsapp:hover {
  color: white;
  background-color: #128c7e;
}

.social .list-group .list-item .fa:hover {
  opacity: 0.9;
}

#scrolltop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  z-index: 100;
}

#scrolltop:hover {
  cursor: pointer;
}

.fa-chevron-up {
  width: 30px;
  height: 30px;
  padding: 3px 4px;
  text-align: center;
  background-color: var(--off-white);
  border-radius: 50%;
  color: var(--secondary-focus);
}

.btn {
  width: 150px;
  height: 30px;
  border-radius: 1.25rem;
  background-color: var(--primary-dark);
  font-size: 18px;
  color: var(--off-white);
  margin: 10px auto;
}

.btn:hover {
  cursor: pointer;
}

.section-header {
  color: #111;
  padding: 6px 4px;
  font-size: 2.5rem;
  font-weight: 500;
}


/*  Image Profile */

.my-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 10px auto;
}




.divider {
  width: 20vh;
  height: 3px;
  border-radius: 100px;
  margin: 3px auto;
  margin-bottom: 20px;
  background-color: var(--primary);
}

.name {
  font-size: 1.15rem;
  color: var(--text-dark-color);
  margin: 0 4px;
  font-weight: lighter;
}

.off-white-section .name {
  color: var(--primary);
}

/* Developer Tools / Technologies */

.technologies-list {
  margin: auto;
}

.technology {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.technology li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #999;
  color: var(--text-white-color);
  margin: 0.5rem;
  width: auto;
  height: auto;
  padding: .6rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 1px;
  border-radius: 6px;
}

/* PROJECTS */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  padding-top: 30px;
}

.cards-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cards-container .card {
  width: 348px;
  background-color: var(--off-white);
  color: var(--text-dark-color);
  margin: 1rem 0.8rem;
  border: 2px solid transparent;
  border-radius: 12px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 40%), -1px -1px 5px rgb(0 0 0 / 40%);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.cards-container .card .card-img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.cards-container .card .card-body {
  padding: 10px;
}

.card-body .card-title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.card-body .card-text {
  font-size: 1.15rem;
  text-align: left;
  height: 110px;
  margin-bottom: 8px;
}


.cards-container .card .card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 0px;
  padding: 0px 0px;
}

.card-footer .btn-project {
  background-color: var(--bg-off-white-dark-mode);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card-footer .card-link {
  text-decoration: none;
  color: var(--text-white-color);
}

.btn-live {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
}

.btn-github {
  color: var(--primary);
  font-size: 1rem;
  font-weight: lighter;
}

.btn-section .fa-external-link,
.btn-section .fa-github {
  margin-right: 2px;
  font-size: 1rem;
}

.btn-section .text {
  font-weight: 500;
}

.btn-section .btn-link {
  text-decoration: none;
}

.btn-web {
  color: var(--primary-dark);
  background-color: var(--off-white);
  margin-top: 1px;
  display: block;
  text-decoration: none;
}

.divider-header {
  background-color: var(--secondary);
  height: 4px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.project-header {
  margin: 15px 10px 5px 10px;
  text-align: center;
}

/* ARTICLES */
.time-stamp {
  color: var(--primary-dark);
  display: inline-block;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 2px;
  margin-bottom: 5px;
}
.mission-header {
  color: #111;
  margin: 4px 2px;
  margin-top: 1px;
  padding: 8px;
  font-size: 1.3rem;
  font-weight: 500;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b3439;
  color: #e9e9e9;
  padding: 10px;
}

.copyright h4{
  font-size: 1.1rem;
}
 

/* CONTACT FORM */

.contact-off-white-section form {
  width: 800px;
  padding: 0px 30px;
  padding-bottom: 30px;
  margin: 10px;
  border-radius: 4px;
  box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-off-white-section {
  color: #000;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
}

label {
  display: inline-block;
}

.form-label {
  margin-bottom: 0.5rem;
  text-align: left;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-submit {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-focus);
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  color: var(--text-white-color);
}

/* MEDIA SCREEN ( MOBILE DEVICE ) */
@media screen and (max-width: 1100px) {
  .card {
    margin: 1rem 0;
  }

  .cards-container .card .card-img {
    object-fit: cover;
    height: 350px;
  }

  .card-footer .btn-project {
    font-size: 17px;
  }

  .card .card-title {
    font-size: 1.95rem;
  }

  .card .card-text {
    font-size: 1.4rem;
    height: 190px;
  }
}
@media screen and (max-width: 992px) {

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .brand-name {
    font-size: 1.6rem;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .nav-bar {
    margin-top: -12px;
  }

  .nav-bar .list-group .list-item {
    margin: 5px 1px 0 1px;
    padding: 0 3px;
  }

  .nav-bar .link {
    margin: 0px 8px;
    font-size: 1.5rem;
  }

  .header .theme .fa {
    color: white;
    font-size: 2rem;
  }

  .card {
    width: 335px;
  }

  .contact-off-white-section form {
    width: 600px;
  }
}

/* Show humburger menu */

@media screen and (max-width: 768px) {

  #hero-section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
  }

  #projects {
    padding-top: 20px;
  }

  .cards-container {
    padding: 15px;
  }
  .cards-container .card {
    width: 100%;
    margin: 1rem 0;
  }

  .cards-container .card .card-img {
    object-fit: cover;
    width: 100%;
    height: 230;
  }

  /* Image in mobile screens */
  .cards-container .card-title {
    font-size: 1.8rem;
  }

  .cards-container .card-text {
    font-size: 1.2rem;
    height: auto;
  }
  .my-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 10px auto;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 10px;
  }
  .brand-name {
    font-size: 2rem;
    margin-top: -6px;
  }
  .humburger {
    display: block;
    position: relative;
    right: 3px;
    padding: 5px 10px;
    margin-top: -0.4rem;
  }

  .humburger-link {
    font-size: 2rem;
    text-decoration: none;
  }

  .humburger-link:hover {
    color: #fefefe;
  }

  .nav-bar {
    flex-direction: column;
    position: absolute;
    top: 67.9px;
    left: 0;
    right: 0;
    background-color: #2b3439;
    color: #fefefe;
    width: 100%;
    transition: all 0.8s ease-in-out;
    height: 0; /* hide the height */
    overflow: hidden; /* overflow to not display content and their action otherwise the hamberger menu is activated */
  }
  .nav-bar.active {
    height: 100vh;
    justify-content: flex-start;
    padding-top: 60px;
  }

  .nav-bar .list-group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0rem 1rem 4px;
    margin-bottom: 0.2rem;
    padding: 1.5rem 2rem;
    border-left: 6px solid var(--off-white);
    border-right: 6px solid var(--off-white);
    border-radius: 100%;
  }

  .nav-bar .list-group .list-item {
    margin: 0.2px 10px;
    font-size: 1.6rem;
    font-weight: lighter;
  }

  .nav-bar .list-group .list-item .link {
    font-size: 1.6rem;
  }

  .container-section p {
    text-align: start;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 2px 1px;
  }

  .social-medias {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: -3.75rem;
  }

  .social-medias .link-social {
    color: var(--off-white);
    text-decoration: none;
    font-weight: 100;
    margin: 20px 8px;
  }

  .social-medias .fa {
    padding: 16px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }

  .social-medias .fa-twitter {
    color: white;
    background-color: #00acee;
  }

  .social-medias .fa-twitter:hover {
    color: #00acee;
    background-color: white;
  }

  .social-medias .fa-linkedin {
    color: white;
    background-color: #0e76a8;
  }

  .social-medias .fa-linkedin:hover {
    color: #0e76a8;
    background-color: white;
  }

  .social-medias .fa-github {
    color: black;
    background-color: white;
  }

  .social-medias .fa-github:hover {
    color: white;
    background-color: black;
  }

  .social-medias .fa:hover {
    opacity: 0.9;
  }
  .social-medias > .fa {
    margin: 10px 20px 10px;
    font-size: 1.5rem;
  }

  .theme {
    display: flex;
    margin-block: 22px 10px;
    margin-bottom: 0px;
  }

  .form {
    width: 100%;
  }

  .contact-off-white-section form {
    width: 375px;
  }
}



@media screen  and (max-width: 360px) {
.contact-off-white-section form {
    width: 300px;
  }
}



/* Dark AND Light Mode */

.dark {
  background-color: var(--dark-mode);
  color: #fff;
}

.header .theme .fa {
  color: white;
  font-size: 2.2rem;
}

.header .theme .fa:hover {
  cursor: pointer;
}

.colored-container-dark-mode {
  background-color: var(--bg-colored-container-dark-mode);
  color:var(--dark-mode-text-color);
}

.off-white-dark-mode {
  background-color: var(--bg-off-white-dark-mode);
  color: var(--dark-mode-text-color);
}

.section-header-dark-mode,
.name-dark-mode,
.contact-name-dark-mode,
.contact-link-dark-mode,
.red-asterisk-dark-mode,
.label-dark-mode
{
  color: var(--dark-mode-text-color) !important;
}

.red-asterisk-dark-mode {
  display: block;
  margin: 20px;
}
